
    <form action="{{ path("login.customer") }}" method="post">

        <input name="_username"  class="form-control" style="width: 80%; margin-bottom: 10px" placeholder="Логин" type="text">

        <input name="_password"  class="form-control" style="width: 80%; margin-bottom: 10px" placeholder="Пароль" type="password">

        <button type="submit" class="btn btn-success">Вход</button>

        <button type="submit" class="btn btn-success"> <a href="{{ path('user_homepage.customer_registration') }}">Регистрация</a> </button>

    </form>
