@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/RobotoRegular.ttf);
}

body {
    background: url("../images/stacked_circles_@2X.png");
    font-family: RobotoRegular;
    color: #535353;
}
header{
    margin-top: 44px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;

}

h3 {
    font-size: 14px;

}

h4 {
    font-size: 12px;

}

.activ_page {
    color: black;
    border-bottom: 2px solid #FFDD00;
}

.buy_page h2 {
    padding-top: 10px;
    font-size: 20px;
}

.buy_page div {
    border: 1px solid black;
    height: 90px;

}

.bay_price h2 {
    font-size: 24px;
    color: #23B2CC;
}

.bay_price button {
    margin-left: 60px;
}

.buy_page_text h2 {
    font-size: 30px;
    font-weight: 200;
}

.buy_page_center {
    margin-right: 10%;
    margin-left: 10%;
}

.shopp_icon i {
    font-size: 30px;
    color: #FFDD00;
}

.shopp_icon a {
    color: white;
    text-decoration: none;
}

.shopp_icon a:hover {
    color: #23B2CC;

}

.col_centr {
    padding-top: 90px;
}

.top_menu {
    background-color: #23B2CC;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

}

.menu_top {
    padding-top: 5px;
}
.menu_top ul{
    margin-top: 7px;
}

.content_w h1 {
    text-align: center;

}

.menu_top ul li {
    display: inline;
    padding-left: 10px;

}

.menu_top a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}

.menu_top a:hover {
    color: #FFDD00;

}

.social {
    text-align: right;
    vertical-align: middle;
}

.social_icon a {
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
    font-size: 20px;

}
.history-order{
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
    font-size: 20px;
    margin-top: 35px;
}
.history-order i{
    font-size: 25px;
    margin-left: 23px;
    color: #fff;
}

.history-order a:hover i {
    color: #FFDD00;
}
.social_icon a:hover {
    color: #FFDD00;
}

.head_line {
    background: url("../images/heder1.jpg") no-repeat ;
    color: #fff;

}

.logo {
    text-align: right;
}

.phone {
    padding-top: 40px;

}



.phone label {
    padding-bottom: 30px;
    font-size: 20px;


}

.phone a {

    text-decoration: none;
    padding: 10px 15px 10px 15px;
    background-color: #FFDD00;
    margin-left: 25px;
    border-radius: 4px;
    color: black;

}

.phone a:hover {
    background-color: #CAAF00;
    color: white;
}

.grafik h1 {
    font-weight: 600;
}

.grafik {
    padding-top: 20px;
}

.search_menu {
    padding-top: 20px;

}

.search_menu button {
    color: black;
    background-color: #FFDD00;

}

.search_menu button:hover {
    background-color: #CAAF00;
}

.linia {
    background-color: #23B2CC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 1px;
}

.footer {
    background-color: #23B2CC;
    color: white;
    margin-top: 20px;

}

.footer h2 {
    font-size: 20px;
    text-align: center;
}

.footer h3 {
    text-align: left;
    padding-left: 107px;
}

.footer a {
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #FFDD00;
}

.cart_tov {
    border: 2px solid #23B2CC;
    border-radius: 10px;
    height: auto;
    margin: 5px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    /*width: 100px;*/
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cart_tov_img_wrapper{
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    overflow: hidden;
}
.cart_tov_about_wrapper img{
    border: 2px solid #23b2cc;
    border-radius: 10px;
    width: 100%;
    display: block;
    margin: 20px 0;
}
cart_tov_about_wrapper h1{
    font-size: 27px;
}
.image-zoom-wrapper:hover .zoom_btn{
    opacity: 1;

    transition: all 0.5s;
}
.cart_tov_about_wrapper button{
    margin: 0 auto;
    display: block;
    width: 50%;
}
.price_label{
    font-size: 20px;
}
.price{
    font-size: 20px;
    color: #23b2cc;
}
.zoom_btn{
   opacity: 0;
    color: #fff;
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 40px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.cart_tov_about_wrapper table{
    width: 100% !important;
    border:1px solid;


}
.cart_tov_about_wrapper td{
    width:40px;
    border:1px solid;
}
.zoom_btn:hover{
    color: #FFDD00;
}
zoom_btn:active{
    color: #ffffff;
}
zoom_btn:link{
    color: #ffffff;
}
zoom_btn:visited{
    color: #ffffff;
}
.cart_tov img {
    /*height: 230px;*/
    width: 100%;
    text-align: center;
}

.cart_tov:hover {
    border: 1px solid #FFDD00;
}
.cart_tov_about_wrapper{
    margin-left: 10px;
}

.btn-success {
    background: #FFDD00;
    border: none;
    color: black;
}

.btn-success:hover {
    background: #CAAF00;
}

.btn-success:focus {
    background: #CAAF00;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    background: #23B2CC;
}

/**/
.nav_position {
    text-align: center;
}

.nav_top {
    height: 50px;
    padding: 7px;
}

.filter_row {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #23B2CC;
    border-radius: 10px;
    height: 100%;
    margin-top: 10px;
    padding: 10px;

}
.homepage{
    padding: 30px;
    width: 98%;
    margin-left: 20px;
}
.filter_row label {
    padding-left: 5px;
    font-weight: 400;
}

.filter_row h2, h3 {
    text-align: center;
}

.call_back_modal {

    text-align: center;
}

.call_back_modal > .modal-content {
    width: 300px;

}

.map {
    text-align: center;
}

.child_page {
    background: white;
    padding-bottom: 40px;
    text-indent: 1.5em;
}

.child_page h2 {
    text-align: center;
    font-weight: 800;
}
.basket{
    float: right;
    position: relative;
    right: 25px;
    height: 50px;
}
.basket > img{
    width: 52px;
    position: relative;
    top: 0px;
}
.basket-num{
    display: table-cell;
    background: red;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0px 0;
    color: #fff;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    bottom: 50px;
    right: -38px;
    box-shadow: 0 0 2px black;

}
.basket-menu{
    display: none;
    opacity: 0;
    top: 31px;
    right: 0;
    position: absolute;
    transition: 0.6s;

}
.basket-menu-triangle{
    border: 15px solid transparent;
    border-bottom: 20px solid rgba(35, 178, 204, 0.8);
    position: relative;
    top: 5px;
    right: -161px;
    display: inline-block;
}

.basket-menu-item{

    list-style: none;
    width: 200px;
    position: relative;
    background: rgba(35, 178, 204, 0.8);
    display: inline-block;
    right: 0px;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    font-family: arial;
    box-shadow: 0 9px 15px black;
    transition: 0.6s;

}
.basket-menu-item li {
    margin: 5px 0;
    padding: 6px 10px;
}
.basket-menu-item li:hover{
    background: rgba(0,0,0,0.5);
}
.basket:hover .basket-menu{
    display: inline-block;
    opacity: 1;

    transition: 0.3s ;
}

.basket-menu-item li span{
    float: right;
    color: #fff;
    cursor: pointer;
}

