
<span class="basket">
		<img src="/Photos/cash.png" alt="cash">
		<span class="basket-num">13</span>
		<span class="basket-menu">
				<span class="basket-menu-triangle"></span>
				<ul class="basket-menu-item">
					<li>1.Casio-1230грн <span>❌</span></li>
					<li>2.Timex-2340грн <span>❌</span></li>
					<li>3.Tissot-7800грн <span>❌</span></li>
				</ul>
		</span>

	</span>


