



        {% for category in category %}


                 <a   class="btn btn-success" href=" {{ path("user_homepage.cat" ,{id:category.id} ) }} " >  {{ category.category }} </a><br/><br/>

        {% endfor %}


